.inventory-page {
    overflow-x: hidden;
}

.inventory-content {
  padding-top: 120px;
  text-align: center;
  width: 80%;
  margin: auto;
}

.selector-switch__button {
  margin: 0.5% !important;
}

.inventory-items {
  padding: 2%;
}

@media only screen and (max-width: 1024px) {
  .selector-switch {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .selector-switch__button {
    width: 40%;
  }
}
