.about-banner {
  /* background-color: blue; */
  padding-top: 10em;
  padding-bottom: 10em;
  /* color: white; */
}

.blockchain-banner-image {
  display: absolute;
  margin-top: -130px;
  float: right;
  width: 50%;
  text-align: center;

  
}

.about-banner-text {
  width: 60%;
  /* margin-left: 10%; */
  /* text-align: center; */
  margin: auto;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
  line-height: 31px;
  font-family: 'Montserrat', sans-serif;

  /* position: absolute; */
}

.about-banner-title1{
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -1px;
}

.about-banner-title{
  /* width: 60%; */
  /* margin-left: 20%; */
  font-size: 50px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -1px;
  font-weight: 600;
}

.banner-text p {
  font-size: 50px;
  margin-left: 30px;
  margin-right: 30px;
}

.homepage-title {
  margin-bottom: 1em;
}
.homepage-caption {
  margin-bottom: 3rem;
}

.explore-btn {
}

a {
  text-decoration: none;
  /* background-color: black; */
}

/* Responsive */
@media (max-width: 1000px) {

  .about-banner {
    display: block;
  }
  .blockchain-banner-image {
    width: 100%;
    text-align: center;
  }
  .about-banner-text {
    display: absolute;
    width: 80%;
    text-align: center;
  }
}
