.banner {
  /* background-color: grey; */
  padding-top: calc(20% + 25px);
  height: 1000px;
}

.banner-image-container {
  text-align: center;
  color: white;
  width: 50%;
  margin: auto;
}

.banner-background-image {
  width: 100%;
}

.banner-text {
  text-align: center;
}

.banner-text p {
  font-size: 50px;
  margin-left: 30px;
  margin-right: 30px;
}

.homepage-title {
  margin-bottom: 1em;
}
.homepage-caption {
  margin-bottom: 3rem;
}

 
.btn {
  /* margin-top: calc(50% + 25px); */
  
  position: relative;
  display: inline-block;
  width: 277px;
  height: 80px;
  font-size: 1em;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  text-decoration:none;
  font-family: 'Roboto', sans-serif;
  font-weight:900;
  font-size:17px;
  letter-spacing: 0.045em;
}

.btn svg {
  position: absolute;
  top: 0;
  left: 0;
}

.btn svg rect {
  /* stroke: #EC0033; */
  stroke-width: 4;
  stroke-dasharray: 353, 0;
  stroke-dashoffset: 0;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}
 .btn span{
background-color: black;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; 
} 

.btn:hover svg rect {
  stroke-width: 4;
  stroke-dasharray: 196, 543;
  stroke-dashoffset: 437;
}

/* Responsive */
@media (max-width: 900px) {
  .banner{
    padding-top: calc(80% + 25px);
  }
  .banner-image-container {
    width: 80%;
    margin-top: 50px;
  }
}


/* REFERNCES */
/* Modified explore marketplace button from the following website */
/* https://codepen.io/mars2601/pen/MKVNMX */