.bannerwave {
  /* background-color: grey; */
  /* padding-top: calc(22% + 20px); */
  height: 100vh;
}

.banner{
  padding-top: calc(25vh + 20px);
}

.banner-image-container {
  text-align: center;
  color: white;
  width: 50%;
  margin: auto;
}

.banner-background-image {
  width: 100%;
}

.banner-text {
  text-align: center;
}

.banner-text p {
  font-size: 50px;
  margin-left: 30px;
  margin-right: 30px;
}

.homepage-title {
  margin-bottom: 1em;
}
.homepage-caption {
  margin-bottom: 3rem;
}

.btn {
  /* margin-top: calc(50% + 25px); */
  position: relative;
  display: inline-block;
  width: 277px;
  height: 80px;
  font-size: 1em;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 17px;
  letter-spacing: 0.045em;
}

.btn svg {
  position: absolute;
  top: 0;
  left: 0;
}

.btn svg rect {
  /* stroke: #EC0033; */
  stroke-width: 4;
  stroke-dasharray: 353, 0;
  stroke-dashoffset: 0;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}
.btn span {
 
  background-color: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn:hover svg rect {
   stroke-width: 4;
  stroke-dasharray: 196, 543;
  stroke-dashoffset: 437;
}

@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}
.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: linear-gradient( #0d043f59 5%, #140f5b1a 70%);
}
.bgTop {
  /* z-index: 15; */
  opacity: 0.5;
}
.bgMiddle {
  /* z-index: 10; */
  opacity: 0.75;
}
.bgBottom {
  /* z-index: 5; */
}
/* bottom wave animation */
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  /* background-size: 100vh; */
  /* background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png'); */
}
.waveAnimation .waveTop {
  /* animation: move_wave 4s linear infinite; */

  /* animation: move-wave 10s;
 
  -webkit-animation: move-wave 10s;
  -webkit-animation-delay: 1s; */
  /* animation-delay: 1s; */
}
.waveMiddle {
  background-size: 50% 120px;
  background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png');
}
.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}
.waveBottom {
  background-size: 50% 100px;
  background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')
}
.waveAnimation .waveBottom {
  animation: move_wave 20s linear infinite;
}

/* Responsive */
@media (max-width: 900px) {
  .banner {
    padding-top: calc(80% + 25px);
  }
  .banner-image-container {
    width: 80%;
    margin-top: 50px;
  }
}

/* REFERNCES */
/* Modified explore marketplace button from the following website */
/* https://codepen.io/mars2601/pen/MKVNMX */
