.roadmap-title {
  text-align: center;
  /* color: #333333; */
  font-size: 30px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -1px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 15px 0;
}
/* tree */
.timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background: #3f6bace0;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.container.left {
  left: 0;
}

.container.right {
  left: 50%;
}

.container::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 48px;
  right: -8px;
  background: #3f6bace0;
  border-radius: 16px;
  z-index: 1;
}

.container.right::after {
  left: -8px;
}

.container::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 46px;
  right: 10px;
  z-index: 1;
  border: 10px solid;
  border-color: transparent transparent transparent #3f6bace0;
}

.container.right::before {
  left: 10px;
  border-color: transparent #3f6bace0 transparent transparent;
}

.container .date {
  content: "";
  position: absolute;
  display: inline-block;
  top: 48px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #3f6bace0;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container.left .date {
  right: -90px;
}

.container.right .date {
  left: -90px;
}

.container .content {
  padding: 30px;
  background: #ffffff;
  position: relative;
  border: 1px solid #eeeeee;
  border-right: 5px solid #3f6bace0;
  border-left: 5px solid #eeeeee;
  border-radius: 15px 0 0 15px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.08);
}

.container.right .content {
  border-right: 5px solid #eeeeee;
  border-left: 5px solid #3f6bace0;
  border-radius: 0 15px 15px 0;
}

.container .content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
  color: #3f6bace0;
}

.container .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #454545;
}

@media (max-width: 767.98px) {
  .timeline::after {
    left: 90px;
  }

  .container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .container.right {
    left: 0%;
  }

  .container.left::after,
  .container.right::after {
    left: 82px;
  }

  .container.left::before,
  .container.right::before {
    left: 100px;
    border-color: transparent #3f6bace0 transparent transparent;
  }

  .container.left .date,
  .container.right .date {
    right: auto;
    left: 5px;
  }

  .container.left .content,
  .container.right .content {
    border-right: 5px solid #eeeeee;
    border-left: 5px solid #3f6bace0;
    border-radius: 0 15px 15px 0;
  }
}
