.register-page {
    /* remove this padding later */
    padding-top: 200px;
}

.content {
    text-align: center;
    
}

@media only screen and (max-width: 1024px) {
    .content {
        transform: scale(1.2);
    }
}